@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 1000px){
  .fullw{
    width: 100%;
  }
  .imgp{
    width: 100px;
    height: 100px;
  }
  .skills{
    flex-wrap: wrap;
    gap: 10px;
  }
}


